

@font-face {
  font-family: 'Rubik' ;
  src: url(./assets/Rubik-Light.ttf);
}

html{
  width: 100%;
  height: 100%;
  font-family:'Rubik';
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}
#root{
  width: 100%;
  height: 100%;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
  html{
    height: auto;
  }

  body{height: auto;}

  #root{
    width: 100%;
    height: auto;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
  }
  
}